<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Administrator\Desktop\pManager\pmanager.jar</jar>
  <outfile>C:\Users\Administrator\Desktop\pManager\manager.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Administrator\Downloads\20250622_0148_Logo-Recriado-Prosper-Souza_remix_01jyazcqdjeh7s1z1ke8xnz1b4.ico</icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>24</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>